<div class="ui dimmer modals page transition visible active" style="display: block !important;">
  <div appmodal class="ui fullscreen modal transition visible active"
       style="margin-top: -20em; display: block !important;">

    <div class="content">

      <form [formGroup]="query" class="ui equal width form" class="ui form">
        <div class="field">
          <label>Query Leads</label>
          <input (keyup)="onChange()" formControlName="lead" type="text" placeholder="Query">
        </div>
      </form>

      <div class="list">

        <div *ngFor="let lead of leads | async" class="ui card">
          <div class="content">
            <table>
              <tr>
                <td><h3>Start</h3></td>
                <td><span>{{(lead.start | customDate)}}</span></td>
              </tr>

              <tr>
                <td><h3>End</h3></td>
                <td><span>{{(lead.end | customDate)}}</span></td>
              </tr>

              <tr>
                <td><h3>Type</h3></td>
                <td>
                  <div class="ui blue label">{{lead.getTypeToString()}}</div>
                </td>
              </tr>

              <tr>
                <td><h3>Status</h3></td>
                <td>
                  <div class="ui green label">{{lead.getStatusToString()}}</div>
                </td>
              </tr>

              <tr>
                <td><h3>Origin</h3></td>
                <td><span>{{lead.origin.address}}</span></td>
              </tr>

              <tr>
                <td><h3>Destination</h3></td>
                <td><span>{{lead.destination.address}}</span></td>
              </tr>
            </table>
          </div>
          <div class="ui mini bottom attached buttons">
            <a class="ui green button" (click)="add(lead.id)">
              <i class="plus icon"> </i>
            </a>
          </div>
        </div>

      </div>
    </div>
    <div class="actions">
      <div class="ui black deny button" (click)="onClose()">
        Close
      </div>
    </div>
  </div>
</div>
