<h1 class="ui header">
  Employee
  <div class="sub header">A employee represents a person that works in the company</div>
</h1>

<div class="ui inverted section divider"></div>

<div class="ui three column grid">
  <div class="column">
    <h4 class="ui top attached block header">Employee</h4>
    <div class="ui middle attached segment">
      <table>
        <tr>
          <td><h3>First Name</h3></td>
          <td><span>{{(employee | async)?.firstName}}</span></td>
        </tr>

        <tr>
          <td><h3>Last Name</h3></td>
          <td><span>{{(employee | async)?.lastName}}</span></td>
        </tr>

        <tr>
          <td><h3>Email</h3></td>
          <td><span>{{(employee | async)?.email}}</span></td>
        </tr>

        <tr>
          <td><h3>Phone</h3></td>
          <td><span>{{(employee | async)?.phone}}</span></td>
        </tr>
      </table>
    </div>
    <div class="ui bottom attached segment">
      <div class="ui mini buttons">
        <a class="ui blue compact button" [routerLink]="['/employee']">
          <i class="reply icon"> </i>
          Back
        </a>
        <a class="ui green compact button"
           [routerLink]="['/', { outlets: { popup: 'employee/'+ (employee | async)?.id + '/edit'} }]"
           replaceUrl="true">
          <i class="write icon"></i>
          Edit
        </a>
        <a class="ui red compact button"
           [routerLink]="['/', { outlets: { popup: 'employee/'+ (employee | async)?.id + '/delete'} }]"
           replaceUrl="true">
          <i class="remove icon"> </i>
          Delete
        </a>
      </div>
    </div>
  </div>

  <app-lead-entity-detail  class="column" [employeeId]="employeeId"></app-lead-entity-detail>
</div>
