<h1 class="ui button right floated">Create new Employee</h1>
<h1 class="ui header">
  Employees
  <div class="sub header">A employee represents a person that works in the company</div>
</h1>

<div class="ui inverted section divider"></div>

<table class="ui striped table">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>

    <th>Email</th>
    <th>Phone</th>

    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees | async">
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>

    <td>{{employee.email}}</td>
    <td>{{employee.phone}}</td>

    <td>
      <div class="ui mini buttons">
        <a class="ui blue compact button" [routerLink]="['/employee', employee.id]">
          <i class="unhide icon"></i>
          View
        </a>
        <a class="ui green compact button"
                [routerLink]="['/', { outlets: { popup: 'employee/'+ employee.id + '/edit'} }]"
                replaceUrl="true">
          <i class="write icon"></i>
          Edit
        </a>
        <a class="ui red compact button"
                [routerLink]="['/', { outlets: { popup: 'employee/'+ employee.id + '/delete'} }]"
                replaceUrl="true">
          <i class="remove icon"> </i>
          Delete
        </a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
