<div class="ui dimmer modals page transition visible active" style="display: block !important;">
  <div appmodal class="ui basic modal transition visible active"
       style="margin-top: -8em; display: block !important;">
    <div class="ui icon header">
      <i class="archive icon"></i>
      Delete Employee
    </div>
    <div class="content">
      <p style="text-align: center;">Permanent delete of a Employee, you can not restore deleted Employee. Are you sure?</p>
    </div>
    <div class="actions">
      <div class="ui green basic cancel inverted button" (click)="onDeny()">
        <i class="reply icon"></i>
        No
      </div>
      <div class="ui red ok inverted button" (click)="onApprove()">
        <i class="remove icon"></i>
        Yes
      </div>
    </div>
  </div>
</div>
