<h1 class="ui button right floated"
    [routerLink]="['/', { outlets: { popup: 'customer/new'} }]"
    replaceUrl="true">Create new Customer</h1>
<h1 class="ui header">
  Customers
  <div class="sub header">A customer represents a person that uses company's service</div>
</h1>

<div class="ui inverted section divider"></div>

<table class="ui striped table">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>

    <th>Email</th>
    <th>Phone</th>

    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers | async">
    <td>{{customer.firstName}}</td>
    <td>{{customer.lastName}}</td>

    <td>{{customer.email}}</td>
    <td>{{customer.phone}}</td>

    <td>
      <div class="ui mini buttons">
        <a class="ui blue compact button" [routerLink]="['/customer', customer.id]">
          <i class="unhide icon"></i>
          View
        </a>
        <a class="ui green compact button"
                [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/edit'} }]"
                replaceUrl="true">
          <i class="write icon"></i>
          Edit
        </a>
        <a class="ui red compact button"
                [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/delete'} }]"
                replaceUrl="true">
          <i class="remove icon"> </i>
          Delete
        </a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
