<h1 class="ui header">
  Customer
  <div class="sub header">A customer represents a person that uses company's service</div>
</h1>

<div class="ui inverted section divider"></div>

<div class="ui three column grid">
  <div class="column">
    <h4 class="ui top attached block header">Customer</h4>
    <div class="ui middle attached segment">
      <table>
        <tr>
          <td><h3>First Name</h3></td>
          <td><span>{{(customer | async).firstName}}</span></td>
        </tr>

        <tr>
          <td><h3>Last Name</h3></td>
          <td><span>{{(customer | async).lastName}}</span></td>
        </tr>

        <tr>
          <td><h3>Email</h3></td>
          <td><span>{{(customer | async).email}}</span></td>
        </tr>

        <tr>
          <td><h3>Phone</h3></td>
          <td><span>{{(customer | async).phone}}</span></td>
        </tr>
      </table>
    </div>
    <div class="ui bottom attached segment">
      <div class="ui mini buttons">
        <a class="ui blue compact button" [routerLink]="['/customer']">
          <i class="reply icon"> </i>
          Back
        </a>
        <a class="ui green compact button"
           [routerLink]="['/', { outlets: { popup: 'customer/'+ (customer | async).id + '/edit'} }]"
           replaceUrl="true">
          <i class="write icon"></i>
          Edit
        </a>
        <a class="ui red compact button"
           [routerLink]="['/', { outlets: { popup: 'customer/'+ (customer | async).id + '/delete'} }]"
           replaceUrl="true">
          <i class="remove icon"> </i>
          Delete
        </a>
      </div>
    </div>
  </div>

  <div class="column">
    <h4 class="ui top attached block header">Leads</h4>
    <div class="ui bottom attached segment">
      <div *ngFor="let lead of leads | async" class="ui card">
        <div class="content">
          <div class="header">
            {{lead.origin.address}} - {{lead.destination.address}}
          </div>
          <div class="meta">
            <span class="category">{{lead.start | customDate}} - {{lead.end | customDate}}</span>
          </div>
        </div>
        <div class="ui two mini bottom attached buttons">
          <a [routerLink]="['/lead', lead.id]" class="ui blue button">
            <i class="unhide icon"> </i>
            View
          </a>
          <a class="ui red button">
            <i class="remove icon"> </i>
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
