<h1 class="ui header">
  Customer
  <div class="sub header">A customer represents a person that uses company's service</div>
</h1>

<div class="ui inverted section divider"></div>

<dl>
  <dt><h3>First Name</h3></dt>
  <dd><span>{{customer.firstName}}</span></dd>

  <dt><h3>Last Name</h3></dt>
  <dd><span>{{customer.lastName}}</span></dd>

  <dt><h3>Email</h3></dt>
  <dd><span>{{customer.email}}</span></dd>

  <dt><h3>Phone</h3></dt>
  <dd><span>{{customer.phone}}</span></dd>

  <dt *ngIf="customer.leadIds"><h3>Leads</h3></dt>
  <dd *ngFor="let leadId of customer.leadIds"><span>{{leadId}}</span></dd>
</dl>

<br>

<div class="ui mini buttons">
  <a class="ui blue compact button" [routerLink]="['/customer']">
    <i class="reply icon"> </i>
    Back
  </a>
  <button class="ui green compact button">
    <i class="write icon"></i>
    Edit
  </button>
</div>
