<h1 class="ui header">
  Customer
  <div class="sub header">A customer represents a person that uses company's service</div>
</h1>

<div class="ui inverted section divider"></div>

<dl #ngFor="">
  <dt><h3>First Name</h3></dt>
  <dd><span>{{(customer | async).firstName}}</span></dd>

  <dt><h3>Last Name</h3></dt>
  <dd><span>{{(customer | async).lastName}}</span></dd>

  <dt><h3>Email</h3></dt>
  <dd><span>{{(customer | async).email}}</span></dd>

  <dt><h3>Phone</h3></dt>
  <dd><span>{{(customer | async).phone}}</span></dd>

  <dt *ngIf="(customer | async).leadIds"><h3>Leads</h3></dt>
  <dd *ngFor="let leadId of (customer | async).leadIds"><span>{{leadId}}</span></dd>
</dl>

<br>

<div class="ui mini buttons">
  <a class="ui blue compact button" [routerLink]="['/customer']">
    <i class="reply icon"> </i>
    Back
  </a>
  <a class="ui green compact button"
          [routerLink]="['/', { outlets: { popup: 'customer/'+ (customer | async).id + '/edit'} }]"
          replaceUrl="true">
    <i class="write icon"></i>
    Edit
  </a>
  <a class="ui red compact button"
          [routerLink]="['/', { outlets: { popup: 'customer/'+ (customer | async).id + '/delete'} }]"
          replaceUrl="true">
    <i class="remove icon"> </i>
    Delete
  </a>
</div>
