<h1 class="ui header">
  Lead
  <div class="sub header">A lead represents a route from origin to destination in a specific time</div>
</h1>

<div class="ui inverted section divider"></div>

<dl>
  <dt><h3>Start</h3></dt>
  <dd><span>{{lead.getStart()}}</span></dd>

  <dt><h3>End</h3></dt>
  <dd><span>{{lead.getStart()}}</span></dd>

  <dt><h3>Type</h3></dt>
  <dd>
    <div class="ui blue label">{{Type[lead.type]}}</div>
  </dd>

  <dt><h3>Status</h3></dt>
  <dd>
    <div class="ui green label">{{Status[lead.status]}}</div>
  </dd>

  <dt><h3>Origin</h3></dt>
  <dd><span>{{lead.origin.address}}</span></dd>
  <div class="nested">
    <dt><h5>Location</h5></dt>
    <dd><span>{{lead.origin.longitude}}</span></dd>
    <dd><span>{{lead.origin.latitude}}</span></dd>
  </div>

  <dt><h3>Destination</h3></dt>
  <dd><span>{{lead.destination.address}}</span></dd>
  <div class="nested">
    <dt><h5>Location</h5></dt>
    <dd><span>{{lead.destination.longitude}}</span></dd>
    <dd><span>{{lead.destination.latitude}}</span></dd>
  </div>

  <dt *ngIf="lead.customerId"><h3>Customer</h3></dt>
  <dd *ngIf="lead.customerId"><span>{{lead.customerId}}</span></dd>

  <dt *ngIf="lead.assignedToIds"><h3>Assigned to</h3></dt>
  <dd *ngFor="let assignedToId of lead.assignedToIds"><span>{{assignedToId}}</span></dd>
</dl>

<br>

<div class="ui mini buttons">
  <a class="ui blue compact button" [routerLink]="['/lead']">
    <i class="reply icon"> </i>
    Back
  </a>
  <button class="ui green compact button">
    <i class="write icon"></i>
    Edit
  </button>
</div>
