<h1 class="ui button right floated">Create new Lead</h1>
<h1 class="ui header">
  Leads
  <div class="sub header">A lead represents a route from origin to destination in a specific time</div>
</h1>

<div class="ui inverted section divider"></div>

<table class="ui striped table">
  <thead>
  <tr>
    <th>Start</th>
    <th>End</th>

    <th>Type</th>
    <th>Status</th>

    <th>Origin</th>
    <th>Destination</th>

    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lead of leads">
    <td>{{lead.getStart()}}</td>
    <td>{{lead.getEnd()}}
    </td>

    <td>
      <div class="ui blue label">{{Type[lead.type]}}</div>
    </td>
    <td>
      <div class="ui green label">{{Status[lead.status]}}</div>
    </td>

    <td>{{lead.origin.address}}</td>
    <td>{{lead.destination.address}}</td>

    <td>
      <div class="ui mini buttons">
        <button class="ui blue compact button">
          <i class="unhide icon"></i>
          View
        </button>
        <button class="ui green compact button">
          <i class="write icon"></i>
          Edit
        </button>
        <button class="ui red compact button">
          <i class="remove icon"> </i>
          Delete
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
