.horizontal {
  width: 10% !important;
  text-align: left;
}
.formHeader {
  margin-top: 0;
  margin-bottom: 0;
}
.formFields {
  margin-top: 0;
  margin-bottom: 0;
}
.searchHeader {
  margin-top: 0;
  margin-bottom: 4px;
}
.assignedForm {
  margin-top: 14px;
}
