<h1 class="ui header">
  Lead
  <div class="sub header">A lead represents a route from origin to destination in a specific time</div>
</h1>

<div class="ui inverted section divider"></div>

<div class="ui three column grid">
  <div class="column">
    <h4 class="ui top attached block header">Lead</h4>
    <div class="ui middle attached segment">
      <table>
        <tr>
          <td><h3>Start</h3></td>
          <td><span>{{((lead | async)?.start | customDate)}}</span></td>
        </tr>

        <tr>
          <td><h3>End</h3></td>
          <td><span>{{((lead | async)?.end | customDate)}}</span></td>
        </tr>

        <tr>
          <td><h3>Type</h3></td>
          <td>
            <div class="ui blue label">{{(lead | async)?.getTypeToString()}}</div>
          </td>
        </tr>

        <tr>
          <td><h3>Status</h3></td>
          <td>
            <div class="ui green label">{{(lead | async)?.getStatusToString()}}</div>
          </td>
        </tr>

        <tr>
          <td><h3>Origin</h3></td>
          <td><span>{{(lead | async)?.origin.address}}</span></td>
        </tr>

        <tr>
          <td><h3>Destination</h3></td>
          <td><span>{{(lead | async)?.destination.address}}</span></td>
        </tr>
      </table>
    </div>
    <div class="ui bottom attached segment">
      <div class="ui mini buttons">
        <a class="ui blue compact button" [routerLink]="['/lead']">
          <i class="reply icon"> </i>
          Back
        </a>
        <button class="ui green compact button"
                [routerLink]="['/', { outlets: { popup: 'lead/'+ (lead | async)?.id + '/edit'} }]"
                replaceUrl="true">
          <i class="write icon"></i>
          Edit
        </button>
        <button class="ui red compact button"
                [routerLink]="['/', { outlets: { popup: 'lead/'+ (lead | async)?.id + '/delete'} }]"
                replaceUrl="true">
          <i class="remove icon"> </i>
          Delete
        </button>
      </div>
    </div>
  </div>

  <app-estimate-detail  class="column" [leadId]="leadId"></app-estimate-detail>
  <app-inventory-detail class="column" [leadId]="leadId"></app-inventory-detail>

  <app-customer-entity-detail  class="column" [leadId]="leadId"></app-customer-entity-detail>
  <app-employee-entity-detail  class="column" [leadId]="leadId"></app-employee-entity-detail>
</div>
