<div class="ui dimmer modals page transition visible active" style="display: block !important;">
  <div appmodal class="ui fullscreen modal transition visible active"
       style="margin-top: -22em; display: block !important;">

    <div class="header">
      Create or edit a Lead: {{lead.value | json}} -- {{lead.status | json}}
    </div>
    <div class="scrolling content">

      <form [formGroup]="lead" class="ui equal width form">

        <h3 class="header formHeader">Range</h3>
        <div class="ui form">
          <div class="two fields formFields">
            <div class="field">
              <label>Start date</label>
              <div class="ui calendar" id="rangeStart" appCalendar>
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input formControlName="start" type="text" placeholder="Start">
                </div>
              </div>
            </div>
            <div class="field">
              <label>End date</label>
              <div class="ui calendar" id="rangeEnd" appCalendar>
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input formControlName="end" type="text" placeholder="End">
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3 class="header formHeader">Location</h3>
        <div class="fields">
          <div [formGroup]="origin"
               class="field">
            <label>Origin</label>
            <input formControlName="address" type="text" placeholder="Origin">
          </div>
          <div [formGroup]="destination"
               class="field">
            <label>Destination</label>
            <input formControlName="address" type="text" placeholder="Destination">
          </div>
        </div>


        <div class="inline field">
          <label class="horizontal">Type</label>
          <div class="ui selection dropdown" appDropdown>
            <input formControlName="type" type="hidden" name="type">
            <i class="dropdown icon"></i>
            <div class="default text">Type</div>
            <div class="menu">
              <div class="item" data-value="0" (click)="lead.value.type = 0">LOCAL</div>
              <div class="item" data-value="1" (click)="lead.value.type = 1">DISTANCE</div>
            </div>
          </div>
        </div>

        <div class="inline field">
          <label class="horizontal">Status</label>
          <div class="ui selection dropdown" appDropdown>
            <input formControlName="status"  type="hidden" name="status">
            <i class="dropdown icon"></i>
            <div class="default text">Status</div>
            <div class="menu">
              <div class="item" data-value="0" (click)="lead.value.status = 0">PENDING</div>
              <div class="item" data-value="1" (click)="lead.value.status = 1">ASSIGNED</div>
              <div class="item" data-value="2" (click)="lead.value.status = 2">QUALIFIED</div>
              <div class="item" data-value="3" (click)="lead.value.status = 3">CONVERTED</div>
              <div class="item" data-value="4" (click)="lead.value.status = 4">CLOSED</div>
            </div>
          </div>
        </div>

      </form>

      <div class="assignedForm">

        <h3 class="header searchHeader">Customer</h3>
        <div class="ui fluid action input">
          <input type="text" placeholder="Customer"/>
          <div class="ui button">Add</div>
        </div>

        <table class="ui striped table">
          <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>

            <th>Email</th>
            <th>Phone</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>

            <td>{{customer.email}}</td>
            <td>{{customer.phone}}</td>

            <td>
              <button class="ui mini red compact button">
                <i class="remove icon"> </i>
                Delete
              </button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>

      <div class="assignedForm">

        <h3 class="header searchHeader">Assigned to</h3>
        <div class="ui fluid action input">
          <input type="text" placeholder="Employee"/>
          <div class="ui button">Add</div>
        </div>

        <table class="ui striped table">
          <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>

            <th>Email</th>
            <th>Phone</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>

            <td>{{employee.email}}</td>
            <td>{{employee.phone}}</td>

            <td>
              <button class="ui mini red compact button">
                <i class="remove icon"> </i>
                Delete
              </button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>
    <div class="actions">
      <a class="ui black deny button" (click)="onDeny()">
        Cancel
      </a>
      <a class="ui positive right labeled icon button" (click)="onApprove()">
        Save
        <i class="checkmark icon"></i>
      </a>
    </div>
  </div>
</div>
