<div class="ui secondary  menu">
  <a class="item" [routerLink]="['/']"         [routerLinkActive]="['active']"
     [routerLinkActiveOptions]="{exact: true}"> Mover </a>
  <a class="item" [routerLink]="['/lead']"     [routerLinkActive]="['active']"> Leads </a>
  <a class="item" [routerLink]="['/customer']" [routerLinkActive]="['active']"> Customers </a>
  <a class="item" [routerLink]="['/employee']" [routerLinkActive]="['active']"> Employees </a>

  <div class="right menu">
    <div class="ui text menu">

      <div class="ui right dropdown item" appDropdown tabindex="0">
        User
        <i class="dropdown icon"></i>
        <div class="menu left transition hidden" tabindex="-1">
          <div class="item">Login</div>
          <div class="item">Register</div>
          <div class="item">Logout</div>
        </div>
      </div>

      <div class="ui right dropdown item" appDropdown tabindex="0">
        <i class="us flag"></i>
        <i class="dropdown icon"></i>
        <div class="menu left transition hidden" tabindex="-1">
          <div class="item"><i class="us flag"></i></div>
          <div class="item"><i class="ru flag"></i></div>
        </div>
      </div>

    </div>
  </div>
</div>
