<div class="ui secondary  menu">
  <a class="item" [routerLink]="['/']"         [routerLinkActive]="['active']"
     [routerLinkActiveOptions]="{exact: true}" translate>Mover</a>
  <a class="item" [routerLink]="['/lead']"     [routerLinkActive]="['active']" translate>Leads</a>
  <a class="item" [routerLink]="['/customer']" [routerLinkActive]="['active']" translate>Customers</a>
  <a class="item" [routerLink]="['/employee']" [routerLinkActive]="['active']" translate>Employees</a>

  <div class="right menu">
    <div class="ui text menu">

      <div class="ui right dropdown item" appDropdown tabindex="0">
        User
        <i class="dropdown icon"></i>
        <div class="menu left transition hidden" tabindex="-1">
          <div class="item">Login</div>
          <div class="item">Register</div>
          <div class="item">Logout</div>
        </div>
      </div>

      <div class="ui right dropdown item" appDropdown tabindex="0">
        <i class="flag" ngClass="{{lang}}"></i>
        <i class="dropdown icon"></i>
        <div class="menu left transition hidden" tabindex="-1">
          <div class="item" (click)="switchLanguage('us')"><i class="us flag"></i></div>
          <div class="item" (click)="switchLanguage('ru')"><i class="ru flag"></i></div>
        </div>
      </div>

    </div>
  </div>
</div>
