<div>
  <app-navbar></app-navbar>
</div>
<div>

  <div class="main ui container full">
    <h1 class="ui button right floated">New</h1>
    <h1 class="ui header">
      Leads
      <div class="sub header">A lead represents a route from origin to destination in a specific time</div>
    </h1>

    <div class="ui inverted section divider"></div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam asperiores, culpa cumque delectus dolores doloribus, eligendi eveniet fugiat ipsum natus, neque odio porro. Fugiat libero neque perferendis quasi rem.</p>
  </div>

  <br>
  <app-footer></app-footer>
</div>
