<div class="ui black inverted vertical footer segment">
  <div class="ui center aligned container">

    <div class="ui stackable inverted grid">

      <div class="three wide column">
        <a class="item" href="https://github.com/srcmaxim/mover-frontend"><h4 class="ui inverted header">Frontend</h4></a>
        <div class="ui inverted link list">
          <a class="item" href="https://github.com/srcmaxim/mover-frontend/wiki">Frontend Wiki</a>
          <a class="item" href="https://github.com/srcmaxim/mover-frontend/projects/1">Scrum Board</a>
          <a class="item" href="https://github.com/srcmaxim/mover-frontend/issues">Frontend Issues</a>
        </div>
      </div>

      <div class="three wide column">
        <a class="item" href="https://github.com/srcmaxim/mover-frontend"><h4 class="ui inverted header">Backend</h4></a>
        <div class="ui inverted link list">
          <a class="item" href="https://github.com/srcmaxim/mover-backend/wiki">Backend Wiki</a>
          <a class="item" href="https://github.com/srcmaxim/mover-backend/projects/1">Scrum Board</a>
          <a class="item" href="https://github.com/srcmaxim/mover-backend/issues">Backend Issues</a>
        </div>
      </div>

      <div class="seven wide right floated column">
        <h4 class="ui inverted teal header">Mover Application</h4>
        <p> Application to demonstrate various parts of a service oriented RESTfull application.
          Was written with Spring Boot, Angular and JWT security</p>
        <div>
          <a href="https://github.com/srcmaxim/mover-frontend" class="ui large teal button">Go to Github page</a>
        </div>
      </div>
    </div>

    <div class="ui inverted section divider"></div>

    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="https://github.com/srcmaxim/mover-frontend/blob/master/LICENSE">MIT &copy; Koval Maksim</a>
    </div>
  </div>
</div>
