<div class="background">
  <h1 class="ui header">
    Home
    <div class="sub header">This is your Home page</div>
  </h1>
</div>

<div class="ui inverted section divider"></div>

<div>
  <h3>
    If you want to <a class="ui black label" href="#">sign in</a>
    you can try the default accounts:
  </h3>
  <ul class="ui list">
    <li><strong>Admin</strong> [login: tony.kroos, password: tony.kroos]</li>
    <li><strong>User</strong> [login: harry.kane, password: harry.kane]</li>
  </ul>
</div>

<br>

<h3>
  You don't have an account yet? Try to <a class="ui black label" href="#">register</a> a new account
</h3>
<h3>
  If you like this app, don't forget to give me a star on
  <a class="ui teal label" href="https://github.com/srcmaxim/mover-frontend">Github</a>!
</h3>

